.input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: "1px solid #ddd";
  border-radius: 0 !important;
}
.input:hover {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: "1px solid #ddd";
  border-radius: 0 !important;
}
.studentImageSection {
  width: 372px;
  height: 360px;
  border-radius: 6px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;

  background: var(--White, #fff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
.editStudentContainer {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 20px 20px;
}
.studentImageSection {
  width: 400px;
  height: 400px;
}
