.input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: "1px solid #ddd";
  border-radius: 0 !important;
}
.input:hover {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: "1px solid #ddd";
  border-radius: 0 !important;
}
.studentImageSection {
  width: 372px;
  height: 360px;
  border-radius: 6px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;

  background: var(--White, #fff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
.editStudentContainer {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 20px 20px;
  width: 1164px;
  border-radius: 6px;
  height: 470px;
}
.editBtn {
  padding: 12px 60px;
  border-radius: 3px;
  background-color: #d7263d;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.saveBtn {
  padding: 12px 60px;
  border-radius: 3px;
  background-color: #2492eb;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
